<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429026541463-l999o9qbriu6eueqivc9193srksbokgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429026541463-l999o9qbriu6eueqivc9193srksbokgm</string>
	<key>API_KEY</key>
	<string>AIzaSyDA1iStJee_PIZveOC-0z3yR2CCMF-b6Is</string>
	<key>GCM_SENDER_ID</key>
	<string>429026541463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Vanessa.PolyRides2</string>
	<key>PROJECT_ID</key>
	<string>polyridesweb</string>
	<key>STORAGE_BUCKET</key>
	<string>polyridesweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:429026541463:ios:ee5f75179ca2a38b</string>
	<key>DATABASE_URL</key>
	<string>https://polyridesweb.firebaseio.com</string>
</dict>
</plist>